<%- include('partials/header.ejs'); -%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-8 ">
            <h4 class="mb-3 text-center mt-4">Add a New Organization</h4>
            <hr class="my-4">
            <form class="needs-validation" action="/organizations/newOrgForm" method="POST">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="organizationName" class="form-label">Organization Name</label>
                        <input type="text" class="form-control" id="organizationName" name="organizationName" required>
                        <div class="invalid-feedback">
                            Valid organization name is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="organizationType" class="form-label">Organization Type</label>
                        <input type="text" class="form-control" id="organizationType" name="organizationType">
                    </div>


                    <div class="col-sm-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <div class="invalid-feedback">
                            Valid organization email is required.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="phoneNumber" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
                        <div class="invalid-feedback">
                            Valid phone number is required.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="street" class="form-label">Address</label>
                        <input type="text" class="form-control" id="street" name="street" placeholder="1234 Main St">
                    </div>


                    <div class="col-md-5">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" name="city">
                    </div>

                    <div class="col-md-4">
                    <label for="state" class="form-label">State</label>
                    <select class="form-select" id="state" name="state">
                        <option value="">Choose...</option>
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Arizona">Arizona</option>
                        <option value="Arkansas">Arkansas</option>
                        <option value="California">California</option>
                        <option value="Colorado">Colorado</option>
                        <option value="Connecticut">Connecticut</option>
                        <option value="Delaware">Delaware</option>
                        <option value="Florida">Florida</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Hawaii">Hawaii</option>
                        <option value="Idaho">Idaho</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Indiana">Indiana</option>
                        <option value="Iowa">Iowa</option>
                        <option value="Kansas">Kansas</option>
                        <option value="Kentucky">Kentucky</option>
                        <option value="Louisiana">Louisiana</option>
                        <option value="Maine">Maine</option>
                        <option value="Maryland">Maryland</option>
                        <option value="Massachusetts">Massachusetts</option>
                        <option value="Michigan">Michigan</option>
                        <option value="Minnesota">Minnesota</option>
                        <option value="Mississippi">Mississippi</option>
                        <option value="Missouri">Missouri</option>
                        <option value="Montana">Montana</option>
                        <option value="Nebraska">Nebraska</option>
                        <option value="Nevada">Nevada</option>
                        <option value="New Hampshire">New Hampshire</option>
                        <option value="New Jersey">New Jersey</option>
                        <option value="New Mexico">New Mexico</option>
                        <option value="New York">New York</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="North Dakota">North Dakota</option>
                        <option value="Ohio">Ohio</option>
                        <option value="Oklahoma">Oklahoma</option>
                        <option value="Oregon">Oregon</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                        <option value="Rhode Island">Rhode Island</option>
                        <option value="South Carolina">South Carolina</option>
                        <option value="South Dakota">South Dakota</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                        <option value="Utah">Utah</option>
                        <option value="Vermont">Vermont</option>
                        <option value="Virginia">Virginia</option>
                        <option value="Washington">Washington</option>
                        <option value="West Virginia">West Virginia</option>
                        <option value="Wisconsin">Wisconsin</option>
                        <option value="Wyoming">Wyoming</option>
                    </select>
                    </div>

                    <div class="col-md-3">
                        <label for="zip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="zip" name="zip">
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg mb-5" type="submit">Add Organization</button>
                </div>
            </form>
        </div>
    </div>
</div>



<%- include('partials/footer.ejs'); -%>
