<%- include('partials/header.ejs'); -%>

<div class="p-5 pt-0 half-width">
    <form action="/search" method="get">
        <div class="row g-2 align-items-center">
            <div class="col-md-8">
                <div class="form-floating">
                    <input type="search" class="form-control rounded-3" id="searchInput" name="query" placeholder="Search for a member">
                    <label for="searchInput">Search for a resource</label>
                </div>
            </div>
            <div class="col-md-4">
                <button class="w-100 btn btn-lg rounded-3 btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

   


<%- include('partials/footer.ejs'); -%>