<%- include('partials/header.ejs'); -%>
<div class="background-image">
    <div class="d-flex align-items-center justify-content-center vh-100 position-relative">
        <div class="p-5 shadow bg-white rounded-3" style="width: 50%; margin-top: -20%;">
            <form action="/search" method="get">
                <div class="row g-2 align-items-center">
                    <div class="col-md-12">
                        <div class="autocomplete-container form-floating">
                            <input type="search" class="form-control rounded-3" id="searchEntity" name="searchEntity" placeholder="" autocomplete="off">
                            <label for="searchEntity">Search for an entity </label>
                        </div>
                        <div id="suggestions-box" class="suggestions-box"></div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>


<%- include('partials/footer.ejs'); -%>


<script> 

$(document).ready(function() {
    const input = $("#searchEntity");
    const suggestionsBox = $("#suggestions-box")
    
    // Perform search whenever a new input is typed
    input.on('input', function() {
        const query = input.val();
        if (query.length > 0) {
            $.ajax({
                url: `/search?q=${query}`,
                method: 'GET',
                dataType: 'json'
            })
            .done(function(suggestions) {
                // Empty suggestion box for cases where input is deleted
                suggestionsBox.empty();

                // Create a dropdown menu button for each entity (member, organization, event, donation inflow, donation outflow)
                $.each(suggestions, function(key, value) {
                    let dropdownContent = `
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton3" 
                            data-bs-toggle="dropdown" aria-expanded="false">${key}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                    `
                                
                    // Create dropdown suggestions for each entity
                    $.each(value, function(index, suggestion) {
                        dropdownContent += `
                            <li><a class="dropdown-item" href="${key}/${suggestion.id}" data-value="${suggestion.id}" data-type="${key}"> ${suggestion.property} </a></li>
                        `                       
                    });

                    dropdownContent += `</ul></div>`; 

                    suggestionsBox.append(dropdownContent);
                });
            });
        } else {
            // if the input box is input, the suggestion box will be emptied, meaning there is no suggestion to fetch for
            suggestionsBox.empty();
        }
    });
});

</script>